@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf'); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --background-color-body: rgb(238, 239, 227);
}
html {
    font-size: 16px;
}

body {
    height: 100vh;
    background: var(--background-color-body);
}

body header nav{
    height: 10vh;
    position: relative;
    top: 0;
}

body header nav ul li {
    display: inline-block;
    padding: 10px;
}
body header nav ul li a {
    text-decoration: none;
}
body header nav ul li:first-child a img{
    border-radius: 50%;
    height: 5vh;
    width: 5vw;
    
}

/* body header nav ul li:last-child{
    right: 0;
} */


main section {
    text-align: justify;
}

main section h1 span {
    font-size: 150%;
}
main section h1 {
    padding-top: 10vh;
    padding-left: 10vw;
    height: 10vh;
    width: 40vw;
    font-size: 2rem;
}

main section p {
    padding-top: 20vh;
    padding-left: 10vw;
    height: 10vh;
    width: 40vw;
    font-size: 1rem;
}

main section img {
    position: absolute;
    height: 50vh;
    right: 5vw;
}

main button {
    background-color: rgb(241, 176, 38);
    width: 15vw;
    height: 5vh;
    border-radius: 5vh;
    margin-top: 20vh;
    left: 15vw;
    position: relative
    
}