@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf'); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    
}
html {
    font-size: 16px;
}

body {
    height: 100vh;
    background: url('../pictures/girl.png') center / cover;
    background-repeat: no-repeat;
    position: relative;
}

body header {
    height: 10vh;
    position: absolute;
    top: 0;
}

body header ul li {
    display: inline;
    padding: 10px;
}
body header ul li a {
    text-decoration: none;
}
body header ul li:first-child a img{
    border-radius: 50%;
    height: 5vh;
    width: 5vw;
    /* display: grid;
    place-items: center; */
}

body header ul li:last-child {
    padding-right: 10vw;
}